# Set the default behavior for all text files to have LF line endings
* text=auto eol=lf

# Specifically mark common source code files as text (optional but good practice)
*.scala text
*.sbt   text
*.java  text
*.xml   text
*.properties text
